.contentBody {
  display: flex;
  flex-direction: column;
  padding: 0 80px;
  margin-top: 20px;
}
.contentBody .widgets {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}
.smallWidget {
  background-color: #fff4f2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  border-radius: 20px;
  margin-right: 40px;
  padding: 20px;
}
.smallWidget > img {
  width: 95%;
}
.statIcon {
  margin-top: 10px;
  display: flex;
}
.bigWidget {
  background-image: url("./Rectangle.png");
  display: flex;
  flex-direction: column;
  flex: 2;
  background-color: #fff4f2;
  border-radius: 20px;
}
.widgetText {
  margin-right: 40px;
}
.widgetText .title {
  font-size: 1.2rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: black;
  margin-bottom: 10px;
}
.widgetText .subtitle {
  font-size: 0.9rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #8f92a1;
}